body{
    font-family: font-family: 'Raleway', sans-serif;;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
    
}
.big{
    color: rgb(255, 166, 0);
}
.span-colour{
    color:rgb(44, 96, 250);
}
