body{
    font-family: font-family: 'Raleway', sans-serif;
    font-size:18px;
    
}
h1{
    font-size: 50px;
}
h3{
    font-size: 35px;
    
}
.big{
    color: rgb(255, 166, 0);
}
.span-colour{
    color:rgb(44, 96, 250);
}
